@page "/"


<h1>Hello World from Blazor</h1>

<ul>
    @foreach (var person in persons)
    {
        <li>
            <p>@person.Name (id @person.Id)</p>
        </li>
    }
</ul>

@code {
    private Person[] persons;

    protected override async Task OnInitializedAsync()
    {
        persons = await Task.FromResult(PersonModule.getPersons().ToArray());
    }
}

