@page "/movie/{Date}/{Name}"

<h1>@GetTitle()</h1>

<video width="720" height="480" controls>
    <source src="@GetFilePath()" type="video/mp4">
</video>

@code {
    [Parameter]
    public string Date { get; set; }

    [Parameter]
    public string Name { get; set; }


    public string GetTitle() =>
        $"{Date} - {Name}";

    public string GetFilePath() =>
    $"https://github.com/MindBehind2021/{Date}/blob/main/{Date}_{Name}.mp4?raw=true";
}
